@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:regular,500,600,700,800,900);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

*:focus {
  outline: none;
}

body {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background: #232323;
  color: whitesmoke;
}

body h1 {
  text-align: center;
  font-weight: 500;
  width: 100%;
  font-size: 20px;
}

button {
  margin: 0;
  color: steelblue;
  padding: 8px 20px;
  background-color: transparent;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover {
  background-color: steelblue;
  color: #ebe9e9;
}

.displayBanner {
  line-height: 1.4;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.displayBanner span {
  font-size: 50px;
}

.box_container {
  margin: 50px auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  justify-items: center;
}

.box1, .box4 {
  -webkit-animation: fadeInLeft 0.6s linear;
          animation: fadeInLeft 0.6s linear;
}

.box3, .box6 {
  -webkit-animation: fadeInRight 0.6s linear;
          animation: fadeInRight 0.6s linear;
}

.box2 {
  -webkit-animation: fadeInUp 0.6s linear;
          animation: fadeInUp 0.6s linear;
}

.box5 {
  -webkit-animation: fadeInDown 0.6s linear;
          animation: fadeInDown 0.6s linear;
}

.optionMenu {
  text-transform: inherit;
  color: black;
  background-color: whitesmoke;
  width: 100vw;
}

.optionMenu .adjust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.optionMenu .adjust span {
  font-weight: bold;
  color: steelblue;
}

.optionMenu .diff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 10px;
  background: purple;
  width: 100%;
}

.noShow {
  display: none;
}

.selected {
  background-color: steelblue;
  color: #ebe9e9;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */